In [39]:
import os
import lib_transformation as transformation
import math
import pandas as pd
import numpy as np
import gmplot
import pickle

In [40]:
date = []
ante2 = []
ante3 = []
diff_ante = []

In [41]:
# 20220907 #2 Esslingen
x = 4159726.4937
y = 682600.3818
z = 4770915.4508
lat,lon,height2 = transformation.xyz2latlon(x,y,z)
print(lat/math.pi*180)
print(lon/math.pi*180)
print(height2)

48.72853910977598
9.319034334819422
287.3377137584612

In [42]:
# 20220907 #3 Esslingen
x = 4159722.6266
y = 682601.9832
z = 4770918.7444
lat,lon,height3 = transformation.xyz2latlon(x,y,z)
print(lat/math.pi*180)
print(lon/math.pi*180)
print(height3)

48.728582683141326
9.319064325503835
287.4670358905569

In [43]:
date.append('0907')
ante2.append(height2)
ante3.append(height3)
diff_ante.append(height2-height3)

In [44]:
# 20221004 #2 Esslingen
x = 4159724.4844
y = 682600.0998
z = 4770917.3070
lat,lon,height2 = transformation.xyz2latlon(x,y,z)
print(lat/math.pi*180)
print(lon/math.pi*180)
print(height2)

48.72856382858048
9.319034974888893
287.39480240643024

In [45]:
# 20221004 #3 Esslingen
x = 4159723.3999
y = 682601.2204
z = 4770918.0379
lat,lon,height3 = transformation.xyz2latlon(x,y,z)
print(lat/math.pi*180)
print(lon/math.pi*180)
print(height3)

48.72857417015875
9.319052392212559
287.35791422519833

In [46]:
date.append('1004')
ante2.append(height2)
ante3.append(height3)
diff_ante.append(height2-height3)

In [47]:
# 20221031 #2 Esslingen
x = 4159724.9080
y = 682599.9982
z = 4770917.0234
lat,lon,height2 = transformation.xyz2latlon(x,y,z)
print(lat/math.pi*180)
print(lon/math.pi*180)
print(height2)

48.7285594325732
9.319032679809693
287.44652853161097

In [48]:
# 20221031 #3 Esslingen
x = 4159724.2559
y = 682600.2172
z = 4770917.5935
lat,lon,height3 = transformation.xyz2latlon(x,y,z)
print(lat/math.pi*180)
print(lon/math.pi*180)
print(height3)

48.72856692334489
9.319037052475062
287.47393834311515

In [49]:
date.append('1031')
ante2.append(height2)
ante3.append(height3)
diff_ante.append(height2-height3)

In [50]:
# 20221127 #2 Esslingen
x = 4159722.0671
y = 682603.5394
z = 4770918.9287
lat,lon,height2 = transformation.xyz2latlon(x,y,z)
print(lat/math.pi*180)
print(lon/math.pi*180)
print(height2)

48.72858580459038
9.319086429908307
287.40758965723217

In [51]:
# 20221127 #2 Esslingen
x = 4159727.9118
y = 682602.2147
z = 4770914.0740
lat,lon,height3 = transformation.xyz2latlon(x,y,z)
print(lat/math.pi*180)
print(lon/math.pi*180)
print(height3)

48.72851947999305
9.319055797807783
287.4217736981809

In [52]:
date.append('1127')
ante2.append(height2)
ante3.append(height3)
diff_ante.append(height2-height3)

In [58]:
df0 = pd.DataFrame({'date':date, 'antenne2':ante2,'antenne3':ante3,'diff antenne':diff_ante})
with open('height_statistic.pkl', 'rb') as f:
    df1 = pickle.load(f)

In [59]:
df1

   date  median_2  median_3  diff median
0  0907     3.049    3.1975      -0.1485
1  1004     3.105    2.9320       0.1730
2  1031     3.066    3.1520      -0.0860
3  1127     3.351    3.0720       0.2790

In [60]:
df0

   date    antenne2    antenne3  diff antenne
0  0907  287.337714  287.467036     -0.129322
1  1004  287.394802  287.357914      0.036888
2  1031  287.446529  287.473938     -0.027410
3  1127  287.407590  287.421774     -0.014184

In [57]:
df = pd.merge(df1,df0,on='date',how='inner')
df.to_excel('statistic.xlsx')