In [11]:
import os
import transformation
import math
import pandas as pd
import numpy as np
import random

In [12]:
meas_file = os.path.abspath("../data/documentation.xlsx")
df_meas = pd.read_excel(meas_file)
df_meas

         time        location  equipment  latitude  longitude  height(GNSS)
0  2022-05-22  Ober Esslingen          2  48.72768    9.32381     285.73854
1  2022-05-22  Ober Esslingen          3  48.72821    9.32403     286.30214
2  2022-05-26   Bad-Cannstatt          2  48.79764    9.21425     270.97025
3  2022-05-26   Bad-Cannstatt          3  48.79782    9.21400     282.72263
4  2022-06-18  Ober Esslingen          2  48.72820    9.32409     291.89773
5  2022-06-18  Ober Esslingen          3  48.72771    9.32391     293.26101
6  2022-06-22   Bad-Cannstatt          2  48.79810    9.21388     275.49862
7  2022-06-22   Bad-Cannstatt          3  48.79696    9.21382     273.06919
8  2022-07-15  Ober Esslingen          2  48.72823    9.32409     286.67937
9  2022-07-15  Ober Esslingen          3  48.72770    9.32399     292.62920
10 2022-08-11  Ober Esslingen          2  48.72860    9.31907     285.48789
11 2022-08-11  Ober Esslingen          3  48.72854    9.31904     287.33830
12 2022-08-15   Bad-Cannstatt          2  48.80924    9.21654     276.77834
13 2022-08-15   Bad-Cannstatt          3  48.80911    9.21691     259.19343
14 2022-09-07  Ober Esslingen          2  48.72854    9.31903     285.03166
15 2022-09-07  Ober Esslingen          3  48.72860    9.31906     285.32748
16 2022-09-11   Bad-Cannstatt          2  48.80914    9.21691     272.54989
17 2022-09-11   Bad-Cannstatt          3  48.80928    9.21648     273.95382
18 2022-10-04  Ober Esslingen          2  48.72857    9.31901     285.48406
19 2022-10-04  Ober Esslingen          3  48.72858    9.31904     285.31060
20 2022-10-08   Bad-Cannstatt          2  48.80925    9.21642     274.96715
21 2022-10-08   Bad-Cannstatt          3  48.80927    9.21647     274.78513

In [13]:
# test for fresnel zone
df_coor = pd.read_csv("20220811-2.csv")
df_coor = df_coor.drop(columns="Unnamed: 0")
df_coor

,satellite,north,east,height,lat_center,lon_center,height_center
0,G19,9.419858,-7.522331,3.086,48.7286,9.31907,285.48789
1,E24,20.588231,-18.411934,3.851,48.7286,9.31907,285.48789
2,E12,7.655520,-10.254215,2.967,48.7286,9.31907,285.48789
3,E12,7.841084,-9.572578,2.869,48.7286,9.31907,285.48789
4,R24,17.010483,-12.904402,2.900,48.7286,9.31907,285.48789
5,G06,22.424453,-29.602135,3.031,48.7286,9.31907,285.48789
6,G06,23.216910,-27.877436,2.961,48.7286,9.31907,285.48789
7,E10,33.063988,-34.279910,3.194,48.7286,9.31907,285.48789
8,E10,33.206392,-32.179236,3.101,48.7286,9.31907,285.48789
9,E10,30.449584,-29.022366,2.821,48.7286,9.31907,285.48789
10,G11,27.166649,-27.096876,3.183,48.7286,9.31907,285.48789

In [14]:

df_coor

,satellite,north,east,height,lat_center,lon_center,height_center,lat,lon,alt
0,G19,9.419858,-7.522331,3.086,48.7286,9.31907,285.48789,48.728685,9.318968,282.401901
1,E24,20.588231,-18.411934,3.851,48.7286,9.31907,285.48789,48.728785,9.318820,281.636950
2,E12,7.655520,-10.254215,2.967,48.7286,9.31907,285.48789,48.728669,9.318931,282.520903
3,E12,7.841084,-9.572578,2.869,48.7286,9.31907,285.48789,48.728671,9.318940,282.618902
4,R24,17.010483,-12.904402,2.900,48.7286,9.31907,285.48789,48.728753,9.318895,282.587926
5,G06,22.424453,-29.602135,3.031,48.7286,9.31907,285.48789,48.728802,9.318668,282.456998
6,G06,23.216910,-27.877436,2.961,48.7286,9.31907,285.48789,48.728809,9.318691,282.526993
7,E10,33.063988,-34.279910,3.194,48.7286,9.31907,285.48789,48.728897,9.318604,282.294068
8,E10,33.206392,-32.179236,3.101,48.7286,9.31907,285.48789,48.728899,9.318633,282.387058
9,E10,30.449584,-29.022366,2.821,48.7286,9.31907,285.48789,48.728874,9.318676,282.667029
10,G11,27.166649,-27.096876,3.183,48.7286,9.31907,285.48789,48.728844,9.318702,282.305005

In [15]:

lat_c = df_coor.loc[0]['lat_center']
lon_c = df_coor.loc[0]['lon_center']

gmap_esslingen = gmplot.GoogleMapPlotter(lat_c,lon_c, 15)
gmap_esslingen.scatter([lat_c], [lon_c], '#FF0000', size = 1, marker = True)
sat_name_plot = "ini"
for item in df_coor.index:
    lat = df_coor.loc[item]["lat"]
    lon = df_coor.loc[item]["lon"]
    if df_coor.loc[item]["satellite"] != sat_name_plot:
        color = ["#"+"".join([random.choice("0123456789ABCDEF") for j in range(6)])]
        sat_name_plot = df_coor.loc[item]["satellite"]
    gmap_esslingen.scatter([lat], [lon], color, size = 1, marker = False)

gmap_esslingen.draw("test.html")